<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/quick.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/js/quick.js"></script>
  </head>
  <body>
    <h1>Quick Sort</h1>
    <div class="explanation">
      <p class="text_left">1. --</p>
      <p class="text_left">2. --</p>
      <p class="text_left">3. --</p>
    </div>
    <div id="canvas">
      <canvas id="quick_sort" width="800" height="400" style="margin-top: 20px;">Your browser does not support HTML5 :(</canvas>
  </body>
</html>