body {
  font-family: monaco;
}

h1 {
  width: 361px;
  margin: 40px auto 10px auto;
  font-size: 30px;
}

h3 {
  width: 685px;
  margin: 30px auto 0 auto;
  font-size: 18px;
}

p {
  margin-left: 40px;
  font-size: 10px;
}
#canvas {
  width: 741px;
  margin: auto;
}

#steps {
  height: 25px;  
}

.explanation {
  width: 845px;
  margin: auto;
}

.text_right {
  text-align: right;
  margin-right: 88px;
}

.text_left {
  text-align: left;
  margin-left: 88px;
}